version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin 
      MYSQL_USER: admin          
      MYSQL_PASSWORD: admin      
      MYSQL_DATABASE: clinica_db 
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d  

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_tool
    restart: always
    environment:
      PMA_HOST: db 
      MYSQL_ROOT_PASSWORD: admin 
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:
